- if @staffs.empty?
  #container_form
    .notice{:style => "background: none; text-align: center;"}
      No Staff User
- else
  %table.narrow
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Created On
        %th
          Actions
    %tr
    - for staff in @staffs
      %tr{:class => cycle('odd','even')}
        %td
          = staff.id
        %td
          = staff.name
        %td
          = staff.created_at
        %td
          = link_to 'Assign Location' ,'#'