%h1
  Surprise Visit Center
%table
  %tr
  - for surprise_visit_center in @surprise_visit_centers
    %tr
      %td
        = link_to 'Show', url(:surprise_visit_center, surprise_visit_center)
      %td
        = link_to 'Edit', url(:edit_surprise_visit_center,  surprise_visit_center)

= link_to 'New', url(:new_surprise_visit_center,:center => @center, :branch => @branch,:biz_location => @biz_location), :class => "green_button"
