%h1
  SurpriseVisitCenters controller, show action
%p
  Edit this file in
  %tt
    app/views/surprise_visit_centers/show.html.erb

= link_to 'Edit',  url(:edit_surprise_visit_center,  @surprise_visit_center)
|
= link_to 'Back', url(:surprise_visit_centers)