- unless @errors.blank?
  - @errors.each do |error|
    .error
      = error
      %br

%h1 Loan Assignments
.menu-strip{:style => "width: 32%;"}
  = link_to_with_rights "Click to Download xls file format", url(:controller => :loan_applications, :action => :download_xls_file_format), :class => "grey_button"
%br
.shaded
  %h2 Upload File
  
  %form{:action => url(:controller => :loan_applications, :action => :upload_loan_applications), :enctype => "multipart/form-data", :method => "post"}
    %input{:name => "file", :size => "80", :type => "file"}
    %input{:type => "submit", :value => "Upload"}