%h1
  ApplicableFees controller, show action
%p
  Edit this file in
  %tt
    app/views/applicable_fees/show.html.erb

= link_to_with_rights 'Edit',  url(:edit_applicable_fee,  @applicable_fee)
|
= link_to_with_rights 'Back', url(:applicable_fees)