%table.tall.shaded
  %tr
    %th
      Name
    %td
      = text_field :name
  %tr
    %th
      Amount
    %td
      = text_field :assigned_value
  %tr
    %th
      Effective on
    %td
      = date_select_for @encumberance, :effective_on