- form_url   =  resource(:encumberances, {:return => params[:return]})
- cancel_url =  url(params[:return])
= form_for (@encumberance, :action => "create") do
	%h1 New Encumberance
	= error_messages_for @encumberance
	%fieldset
		= partial "fields"
		= submit "create"


