%h1
  Encumberances controller, show action
%p
  Edit this file in
  %tt
    app/views/encumberances/show.html.erb

= link_to 'Edit',  url(:edit_encumberance,  @encumberance)
|
= link_to 'Back', url(:encumberances)