%h1
  TargetEntities controller, show action
%p
  Edit this file in
  %tt
    app/views/target_entities/show.html.erb

= link_to 'Edit',  url(:edit_target_entity,  @target_entity)
|
= link_to 'Back', url(:target_entities)