%table.tall.shaded
  %tr
    %th
      Amount
    %td
      = text_field :amount, :value => @funding_line.amount.blank? ? '' : @funding_line.funding_line_money_amount.to_regular_amount
  %tr
    %th
      Sanction Date
    %td
      = date_select_for @funding_line, :sanction_date