%h1
  Targets controller, show action
%p
  Edit this file in
  %tt
    app/views/targets/show.html.erb

= link_to_with_rights 'Edit',  url(:edit_target,  @target)
|
= link_to_with_rights 'Back', url(:targets)