%table
  %tr
    %th
      = I18n.t "priority_sector_list.fields.name", :default => "Name"
    %td
      = text_field :name
  %tr
    %th
      = I18n.t "priority_sector_list.fields.code", :default => "Code"
    %td
      = text_field :code