%h1
  Report Formats
.menu-strip
  = link_to_with_rights 'add', resource(:report_formats, :new), :class => 'add'
%table.narrow.shaded
  %tr
    %th
      Name
    %th
      Action
  - for report_format in @report_formats
    %tr
      %td
        = link_to_with_rights report_format.name, resource(report_format)
      %td
        = link_to_with_rights 'show', resource(report_format)
        |
        = link_to_with_rights 'Edit', url(:edit_report_format,  report_format)

