= form_for(@holiday, :action => url(:location_holidays) ) do
  = partial :fields
  = submit 'Save', :class => "grey_button"
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  = link_to_with_rights "Cancel", url(:location_holidays), :class => "grey_button"