%h1
  Comments controller, index action
%p
  Edit this file in
  %tt
    app/views/comments/index.html.erb
%table
  %tr
  - for comment in @comments
    %tr
      %td
        = link_to_with_rights 'Show', url(:comment, comment)
      %td
        = link_to_with_rights 'Edit', url(:edit_comment,  comment)

= link_to_with_rights 'New', url(:new_comment)