%h1
  Comments controller, show action
%p
  Edit this file in
  %tt
    app/views/comments/show.html.erb

= link_to_with_rights 'Edit',  url(:edit_comment,  @comment)
|
= link_to_with_rights 'Back', url(:comments)