%h1
  Claims controller, show action
%p
  Edit this file in
  %tt
    app/views/claims/show.html.erb

= link_to_with_rights 'Edit',  url(:edit_claim,  @claim)
|
= link_to_with_rights 'Back', url(:claims)