%table.form
  %tr
    %th
      Level
    %td
      = text_field :level, :readonly => true
    %th
      Name
    %td
      = text_field :name
    %th
      Creation Date
    %td
      = date_select :creation_date, Constants::Time::EARLIEST_DATE_OF_OPERATION

