%h1
  Highmark Credit Bureau

-# %form{:action => url(:controller => :highmarks, :action => :pipe_delimited_file)}
-# = submit "Generate the List of Clients"

%hr
%h2
  Request
%h3
  = link_to "Generate the List of Clients", url(:controller => :highmarks, :action => :pipe_delimited_file)

%hr
%h2 
  Response
%h3
  Upload the response xml file
  
%form{:action => url(:controller => :highmarks, :action => :process_response)}
  %input{:name => "file", :size => "80", :type => "file"}
  %input{:type => "submit", :value => "Upload"}  