%h1
  Highmark Credit Bureau

-# %form{:action => url(:controller => :highmarks, :action => :pipe_delimited_file)}
-# = submit "Generate the List of Clients"

%hr
%h2
  Request
%h3
  = link_to "Generate the List of Clients", url(:controller => :highmarks, :action => :pipe_delimited_file)

%hr
%h2 
  Response
%h3
  Upload the response xml file
  
%form{:action => url(:controller => :highmarks, :action => :upload_response), :enctype => "multipart/form-data", :method => "post"}
  %input{:name => "file", :size => "80", :type => "file"}
  %input{:type => "submit", :value => "Upload"}  

%h3 uploaded files
%ul
  - @files.each do |file|
    - fname = file.split("/")[-1].chomp
    %li
      = fname
      = link_to "parse", url(:controller => :highmarks, :action => :parse, :filename => fname)