%h1
  CheckpointFillings controller, index action
%p
  Edit this file in
  %tt
    app/views/checkpoint_fillings/index.html.erb
%table
  %tr
  - for checkpoint_filling in @checkpoint_fillings
    %tr
      %td
        = link_to 'Show', url(:checkpoint_filling, checkpoint_filling)
      %td
        = link_to 'Edit', url(:edit_checkpoint_filling,  checkpoint_filling)

= link_to 'New', url(:new_checkpoint_filling)