%h1
  Portfolios controller, index action
%p
  Edit this file in
  %tt
    app/views/portfolios/index.html.erb
%table
  %tr
  - for portfolio in @portfolios
    %tr
      %td
        = link_to_with_rights 'Show', url(:portfolio, portfolio)
      %td
        = link_to_with_rights 'Edit', url(:edit_portfolio,  portfolio)

= link_to_with_rights 'New', url(:new_portfolio)