%h1
  Portfolios
.menu-strip
  = link_to 'New', url(:new_portfolio), :class => 'add'
%table.narrow.shaded
  %thead
    %tr
      %th
        Name
      %th
        creation date
      
  - for portfolio in @portfolios
    %tr
      %td
        = link_to portfolio.name, url(:portfolio, portfolio)
      %td
        = portfolio.created_at

