%h1
  SectionTypes controller, show action
%p
  Edit this file in
  %tt
    app/views/section_types/show.html.erb

= link_to 'Edit',  url(:edit_section_type,  @section_type)
|
= link_to 'Back', url(:section_types)