:javascript
  $('table.unpaid_fee').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

- if fee_lendings.blank?
  %h3
    No Unpaid fee exists
- else
  %table.dataTable.report.weeksheet.nojs.unpaid_fee
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Applied On
        %th
          Amount
    - fee_lendings.each do |fee|
      %tr
        %td
          = fee.id
        %td
          = fee.simple_fee_product.name
        %td
          = fee.applied_on
        %td
          = fee.effective_total_amount(get_effective_date).to_s
    %tfoot
      %tr.org_total
        %td{:colspan => 6}
