%h1
  Checkpoints controller, show action
%p
  Edit this file in
  %tt
    app/views/checkpoints/show.html.erb

= link_to 'Edit',  url(:edit_checkpoint,  @checkpoint)
|
= link_to 'Back', url(:checkpoints)