#new_form{:style => "#{@asset_sub_categories.blank? ? 'display : true' : 'display : none'}"}
  %form{:action => url(:controller => :asset_sub_categories, :action => :create, :asset_category_id => @asset_category.id), :method => :post}
    Name
    = text_field :name
    = submit "Save"
