%h2== Securitizations
%p== #{link_to_with_rights 'Create a new securitization',"/Securitizations/new",:class=>"add"}
- if @securitizations.blank?
  %p
    %i No securitizations have been created yet.
- else
  %table.narrow.form.dataTable{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th date of commencement
    - for securitization in @securitizations
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          %a{:href => url(:controller => 'securitizations', :id => securitization.id, :action => 'show')}
            = securitization.id
        %td
          %a{:href => url(:controller => 'securitizations', :id => securitization.id, :action => 'show')}
            = securitization.name
        %td
          = securitization.effective_on
    %tfoot
      %tr
        %td{ :colspan => 9 }
