%h1
  Dropdownpoints controller, show action
%p
  Edit this file in
  %tt
    app/views/dropdownpoints/show.html.erb

= link_to 'Edit',  url(:edit_dropdownpoint,  @dropdownpoint)
|
= link_to 'Back', url(:dropdownpoints)