%table
  %tr
    %td{:colspan => '2'}
      %h1==Demographic data
  %tr
    %td
      How many years have you been residing permanently at the current location ? 
    %td
      = text_field :years_of_residing_at_current_location, :size => 3
  %tr
    %td
      Do you have your own house ?
    %td
      = check_box :own_house
  %tr
    %td
      Does your family own land ?
    %td
      = check_box :family_owns_land 