%table
  %tr
    %td{:colspan => '2'}
      %h1==Demographic data
  %tr
    %td
      Religion:
    %td
      = select(:religion, :collection => Constants::Client::RELIGIONS , :prompt => "Select religion")
      %br/
  %tr
    %td
      Caste:
    %td
      = select(:caste, :collection => Constants::Client::CASTES, :prompt => "Select caste")
      %br/
  %tr
    %td
      Member literate:
    %td
      = select(:member_literate, :collection => [[:no, "No"], [:yes, "Yes"]] , :prompt => "is this member litrate?")
      %br/
  %tr
    %td
      Husband literate:
    %td
      = select(:husband_litrate, :collection => [[:no, "No"], [:yes, "Yes"]] , :prompt => "is spouse litrate?")
      %br/
  %tr
    %td{:colspan => '2'}
      %hr
