%div.tab_container
  %ul.tabs
    %li#basic_info Basic info
    %li#guarantor_data Guarantor Data
    %li#family_details Family Details
    %li#income_information Income Information
  %div.tab
    =partial 'clients/basic_info'
  %div.tab
    =partial 'clients/guarantor_data'
  %div.tab
    =partial 'clients/family_details'
  %div.tab
    =partial 'clients/income_information'