%div.tab_container
  %ul.tabs
    %li#basic_info Basic info
  %div.tab
    = partial 'clients/basic_info'
  %div.tab
    = partial 'clients/family_information'
  %div.tab
    = partial 'clients/other_information'
  %div.tab
    = partial 'clients/demographic_data'