%table
  %tr
    %td{:colspan => '2'}
      %h1==Poverty overview
  %tr
    %td
      Total income:
    %td
      = text_field(:total_income, :size => 10)
      %br/
  %tr
    %td
      Poverty status:
    %td
      = text_field(:poverty_status, :size => 10)
      %br/
  %tr
    %td
      %table{:width => '100%'}
      %tr
        %td
          Land for farming:
        %td
          Total
        %td
          Irrigated
      %tr
        %td
          Area (in acres)
        %td
          = text_field(:total_land_farming, :size => 10)
        %td
          = text_field(:total_land_farming_irrigated, :size => 10)
      %br/