%table
  %tr
    %td{:colspan => '2'}
      %h1==Poverty overview
  %tr
    %td
      Do you fall below the Poverty Line ?
    %td 
      = check_box :below_poverty_line
  %tr
    %td
      Total income:
    %td
      = text_field(:total_income, :size => 10)
      %br/
  %tr
    %td
      Poverty status:
    %td
      = text_field(:poverty_status, :size => 10)
      %br/
  %tr
    %td{:colspan => '2'}
      %hr
