- reason = Reason.new
= form_for(reason, :id => "reasons_form", :action => resource(:reasons)) do
  %table.tall.shaded
    %tr
      %th
        Reason Name
      %td
        = text_field :name
      %td
        = submit 'Save'