%table.tall.shaded
  %tr
    %th
      Name
    %td
      = text_field :name
  %tr
    %th
      Date of commencement
    %td
      = date_select_for @tranch, :date_of_commencement        
= hidden_field :funding_line_id, :value => @tranch.funding_line_id