- form_url   =  resource(:tranches, {:return => params[:return]})
- cancel_url =  url(params[:return])
= form_for (@tranch, :action => "/tranches/create") do
	%h1 New Tranch
	= error_messages_for @tranch
	%fieldset
		= partial "fields" 
		= submit "create"
