%div.tab_container.shaded
  %ul.tabs
    %li#Locations
      Locations
    %li#Loans
      Loans
    %li#Collections
      Collections
    %li#Accounting
      Accounting
    %li#Reports
      Reports
    %li#Configuration
      Configuration
  %div.tab
    %div#location_list
      =partial "user_locations/list"
  %div.tab
  %div.tab
  %div.tab
  %div.tab
  %div.tab