%h1 Home
%table
  %tr
    %td{:width => "65%"}
      = partial "user_locations/list"
    %td
      %div.result
      %script
        $.get("/browse/hq_tab", function(data){$('.result').html(data);})
      %br