%div.tab_container
  %ul.tabs
    %li#basic_info Basic info
    %li#bank_account_data Extended Information
  %div.tab
    =partial 'clients/jlg_clients/basic_info'
  %div.tab
    =partial 'clients/jlg_clients/extended_info'
