%h1
  CheckpointFillings controller, show action
%p
  Edit this file in
  %tt
    app/views/checkpoint_fillings/show.html.erb

= link_to 'Edit',  url(:edit_checkpoint_filling,  @checkpoint_filling)
|
= link_to 'Back', url(:checkpoint_fillings)