%table.form
  %tr
    %td
      Name
    %td
      = text_field :name
  %tr
    %td
      Fee Charge Type
    %td
      = select :fee_charged_on_type, :collection => Constants::Transaction::FEE_CHARGED_ON_TYPES.map{|f| [f.to_s.humanize]}
  %tr
    %td
      Created On
    %td
      = date_select 'simple_fee_product[created_on]', Date.today, {:id => 'created_on'}