%table.tall.shaded
  %tr
    %th
      Fee Amount
    %td
      = text_field :fee_only_amount
  %tr
    %th
      Tax Amount
    %td
      = text_field :tax_only_amount
  %tr
    %th
      Currency
    %td
      = select :currency, :collection => ['INR']
  %tr
    %th
      Effective On
    %td
      = date_select 'timed_amount[effective_on]', Date.today, {:id => 'effective_on'}