:javascript
  $('table.child_location').dataTable({
      "sPaginationType": "full_numbers",
      "bServerSide": true,
      "sAjaxSource": $('table.child_location').attr('source'),
      "bProcessing": true,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });
= link_to "Create #{@location_level.name}", resource(@biz_location, :biz_location_form), :class => "add grey_button _remote_"
%br
%table{:source => url(:controller => 'biz_locations', :id => @biz_location.id, :action => 'fetch_child_locations'), :class => 'child_location dataTable report weeksheet nojs'}
  %thead
    %tr
      %th
        id
      %th
        Name
      %th
        Location Address
      %th
        Location No. Count
      %th
        Created On