.menu-strip
  = link_to_with_rights 'Add Client', url(:controller => :new_clients, :action => :new, :biz_location_id => @biz_location.id), :class => 'add'
%br
- if @customers.count == 0
  %p
    %i No Client Mapping have been created yet.
- else
  %table{:class => 'narrow'}
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Created On
    %tr
      - for customer in @customers
        %tr
          %td
            = customer.id
          %td
            = link_to_with_rights customer.name, url(:controller => :new_clients, :action => :show, :id => customer.id)
          %td
            = customer.created_at.strftime("%Y-%m-%d")