:javascript
  $('table.client_tab').dataTable({
    "bPaginate": false,
    "bJQueryUI": true
  });

.menu-strip
  = link_to_with_rights 'Add Client', url(:controller => :new_clients, :action => :new, :biz_location_id => @biz_location.id), :class => 'add'

%br
- if @customers.blank?
  %p
    %i No Client Mapping have been created yet.
- else
  %table.client_tab{:style => "width:100%;"}
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Joining Date
    %tbody
      - @customers.each do |customer|
        %tr
          %td
            = customer.id
          %td
            = link_to_with_rights customer.name, url(:controller => :new_clients, :action => :show, :id => customer.id)
          %td
            = customer.date_joined