:javascript
  $('table.staff').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%br
- if @location_manages.count == 0
  %p
    %i No Staff Mapping have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs.staff
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Active
        %th
          Effective On
    - @location_manages.each do |location_manage|
      - staff = location_manage.manager_staff_member
      %tr
        %td
          = staff.id
        %td
          = link_to staff.name, resource(staff)
        %td
          = staff.active
        %td
          = location_manage.effective_on