:javascript
  $('table.staff').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%h1 STAFF MEMBER
%br
- if @staffs.count == 0
  %p
    %i No Staff Mapping have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs.staff
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Active
        %th
          Created On
    - for staff in @staffs
      %tr
        %td
          = staff.id
        %td
          = link_to staff.name, resource(staff)
        %td
          = staff.active
        %td
          = staff.creation_date