%div.tab_container.shaded
  %ul.tabs
    %li#MeetingSchedule
      Meeting Schedule
    %li#Meeting
      Meeting
    %li#Collections
      Collections
    %li#Customers
      Customers
    %li#Loan
      Loans
    %li#History
      History
  %div.tab
    %div#location_list
      =partial "user_locations/meeting_schedule_list"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_calendar, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :weeksheet_collection, :date => Date.today)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => '#'}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => '#'}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => '#'}
