%h1== Village: <i>#{@village.name}</i>
%br
  = link_to 'Edit',  url(:edit_village,  @village), :class => "grey_button"
  &nbsp;&nbsp;
  |
  &nbsp;&nbsp;
  = link_to 'Back', url(:villages), :class => "grey_button"