%h1
  Payment Transactions
.menu-strip{:style => "margin-bottom: 0.5em; margin-left: 0px; margin-top: 0px"}
  = link_to_with_rights 'Make Payment', "#", :class => "add"
- if @payment_transactions.count == 0
  .error
    No Payment Transaction History Available
- else
  = partial :list