- payment_transaction = @payment_transaction.nil? ? PaymentTransaction.new : @payment_transaction
%h1 Payment Transaction
- if @message && !@message[:error].blank?
  .error
    = @message[:error]
= form_for(payment_transaction, :action => url(payment_transaction , :action => :create), :class => "shaded") do
  = partial :fields
  = submit 'Save'
