%h1== Today Payment By Staff Member
.menu-strip{:style => "width: 8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:lendings, :action => resource(:payment_transactions, :payment_by_staff_member)) do
  = partial 'lib/biz_location_selector_for_write_off', :date => get_effective_date, :staff_member => true
- if @staff_member.blank?
  Please Select Staff Member
- else
  = partial 'weeksheet_for_location'