%h1
  SurpriseCenterVisits controller, show action
%p
  Edit this file in
  %tt
    app/views/surprise_center_visits/show.html.erb

= link_to 'Edit',  url(:edit_surprise_center_visit,  @surprise_center_visit)
|
= link_to 'Back', url(:surprise_center_visits)