%h1 Highmark Credit Bureau

%br
.menu-strip.shaded
  %h2
    = link_to "Highmark Request Files", url(:controller => :overlap_report_requests, :action => :index)

%br
%hr
  
.menu-strip.shaded
  %h2
    = link_to "Upload Highmark Responses", url(:controller => :overlap_report_responses, :action => :index)
  