%h1 Surprise Center Visit
.shaded
  %h2 SCV Suggestions
  = form(:action => url(:controller => :visit_schedules, :action => :suggest_scv_for_branch), :method => :post) do
    = partial "lib/scv_area_branch_selector"