%h1
  ChecklistNews controller, show action
%p
  Edit this file in
  %tt
    app/views/checklist_news/show.html.erb

= link_to 'Edit',  url(:edit_checklist_news,  @checklist_news)
|
= link_to 'Back', url(:checklist_news)