%table.report.nojs
  %thead
    %tr{:style => "font-size: 1em;"}
      %th
        Date
      %th
        Money-Category Description
      %th
        Amount
  - @transaction_summaries.group_by{|ts| ts.effective_on}.each do |t_summary|
    - t_summary.last.each do |summary|
      %tr{:class => cycle('odd','')}
        -if summary == t_summary.last.first
          %td{:rowspan => t_summary.last.size, :class => 'number'}
            = t_summary.first
        %td.text
          = summary.money_category.description
        %td.number
          = summary.amount
  %tfoot
    %tr
      %td{:colspan => 12}