= form_for(:browse, :action => url(:controller => :browse,:action => :update_effective_date), :method => "POST", :class => "tall shaded") do
  = date_select 'effective_date', @date
  = submit "Update"