%div.right
  %div.result
  %script
    $.get("/browse/hq_tab", function(data){$('.result').html(data);})
  %br

%div.left
  %h1 Home
  %h3
    You can navigate to the most commonly used screens from here
  %div
    %ul
      %li
        = link_to_with_rights('Staff members', resource(:staff_members), :class => 'edit')
      %li
        = link_to_with_rights 'Verify data', resource(:verifications), :class => 'edit'
      %li
        = link_to_with_rights 'Add Occupation', resource(:occupations), :class => 'edit'