:javascript
  $('table.loan_accrual').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%br
- if @lending_accrual_transactions.blank?
  %p
    %i No Loan accrual transactions have been created yet
- else
  %table.report.weeksheet.nojs.loan_accrual
    %thead
      %tr
        %th
          Effective Date
        %th
          Accrual Allocation Type
        %th
          Accrual Temporal Type
        %th
          Amount
    - @lending_accrual_transactions.each do |accrual_transaction|
      %tr
        %td
          = accrual_transaction.effective_on
        %td
          = accrual_transaction.accrual_allocation_type.humanize
        %td
          = accrual_transaction.accrual_temporal_type.humanize
        %td
          = accrual_transaction.to_money[:amount].to_s
