- @lending = @lending.blank? ? Lending.new : @lending
%h1
  New Loan
- if @message && !@message[:error].blank?
  .error
    = @message[:error].class == Array ? @message[:error].join('<br>') : @message[:error]
= form_for(@lending, :action => url(@lending , :action => :create), :class => "shaded") do
  = partial 'lendings/fields'
  = submit 'Save'