%h1
  Processaudits controller, show action
%p
  Edit this file in
  %tt
    app/views/processaudits/show.html.erb

= link_to 'Edit',  url(:edit_processaudit,  @processaudit)
|
= link_to 'Back', url(:processaudits)