%h1
  ExpenseVouchers controller, show action
%p
  Edit this file in
  %tt
    app/views/expense_vouchers/show.html.erb

= link_to 'Edit',  url(:edit_expense_voucher,  @expense_voucher)
|
= link_to 'Back', url(:expense_vouchers)