%h1
  ChecklistLocations controller, show action
%p
  Edit this file in
  %tt
    app/views/checklist_locations/show.html.erb

= link_to 'Edit',  url(:edit_checklist_location,  @checklist_location)
|
= link_to 'Back', url(:checklist_locations)