%h1
  Checkers controller, show action
%p
  Edit this file in
  %tt
    app/views/checkers/show.html.erb

= link_to_with_rights 'Edit',  url(:edit_checker,  @checker)
|
= link_to_with_rights 'Back', url(:checkers)