- if @biz_locations.count == 0
  %p
    %i No Location Mapping have been created yet.
- else
  %br
  %table.narrow{:style => 'width:100%'}
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Address
        %th
          Managed By
        %th{:style => "width:10%"}
          Location Created On
        %th
          Action