%h1
  Biz-Location
- unless @biz_locations.count == 0
  %table.narrow
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Location Level
        %th
          Created At
    %tr
      - for biz_location in @biz_locations
        %tr
          %td
            = biz_location.id
          %td
            = link_to biz_location.name, resource(biz_location)
          %td
            = biz_location.level_name
          %td
            = biz_location.created_at.strftime("%Y-%m-%d")