%h1
  FreeTextFillings controller, show action
%p
  Edit this file in
  %tt
    app/views/free_text_fillings/show.html.erb

= link_to 'Edit',  url(:edit_free_text_filling,  @free_text_filling)
|
= link_to 'Back', url(:free_text_fillings)