%script{:type=>"text/javascript", :src=>"javascripts/exclusions/dhtmlxcommon.js"}
%script{:type=>"text/javascript", :src=>"javascripts/exclusions/dhtmlxgrid.js"}
%script{:type=>"text/javascript", :src=>"javascripts/exclusions/dhtmlxgrid_filter.js"}
%script{:type=>"text/javascript", :src=>"javascripts/exclusions/dhtmlxgrid_srnd.js"}
%script{:type=>"text/javascript", :src=>"javascripts/exclusions/dhtmlxgrid_start.js"}
%script{:type=>"text/javascript", :src=>"javascripts/exclusions/dhtmlxgridcell.js"}
:javascript
    var mygrid;
    function doInitGrid() {
        mygrid = new dhtmlXGridFromTable("dhtmlxtable");

        mygrid.setSkin("light");
        mygrid.attachHeader("#text_filter,#text_filter,#text_filter,#text_filter");
        mygrid.enableAutoWidth(true);
        mygrid.enableAutoHeight(true);
        mygrid.setSizes();


        //mygrid.init();
        //mygrid.loadXML("/assets/sample_data.xml");


    }


    $(function () {
        doInitGrid();


    });



= js_include_tag  "exclusions/dhtmlxcommon.js", "exclusions/dhtmlxgrid.js", "exclusions/dhtmlxgrid_filter.js", "exclusions/dhtmlxgrid_srnd.js", "exclusions/dhtmlxgrid_start.js",  "exclusions/dhtmlxgridcell.js"
= css_include_tag "dhtmlxgrid.css"
%table{:class=>"dhtmlxGrid",:id=>"dhtmlxtable"}
    %tr
        %td
            Bank name
        %td
            Bank branch name
        %td
            Account no.
        %td

    - for account in @bank_accounts
        %tr
            %td
                =account.bank_branch.bank.name
            %td
                =account.bank_branch.name
            %td
                =account.account_no
            %td
                = link_to 'Add cheque leaves',"/ChequeLeaves/new/#{account.id}"