%h1
  ChequeLeaves controller, show action
%p
  Edit this file in
  %tt
    app/views/cheque_leaves/show.html.erb

= link_to 'Edit',  url(:edit_cheque_leaf,  @cheque_leaf)
|
= link_to 'Back', url(:cheque_leaves)