%fieldset
  %input{:name => "file", :size => "80",  :type => "file"}
  %input{:name => "erase", :type => "checkbox"}
  Erase old data?
  %input{:type => "submit", :value => "Upload"}
  %br
    %b
      Only .xls files are accepted. Please ensure that you upload valid files with .xls extension only.