%h1 Mostfit data upload

.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:uploads), :class => "grey_button"

%p
  Upload information for your past operations here, and you are ready to begin using Mostfit 
%p
  Download 
  %a{:href => "/new_upload_data.xls"}
    sample spreadsheet
%fieldset
  %p
    The spreadsheet can contain tabs for one or more of the following:
    %ol
      %li
        Location Levels
      %li
        Designations
      %li
        Staff members
      %li
        Biz Locations (Branch, Centers, etc.)
      %li
        Staff Postings
      %li
        Fee Products
      %li
        Loan Products
      %li
        Funding Lines
      %li
        Tranches      
      %li
        Clients
      %li
        Loans
      %br
= form_for(@upload, :action => resource(:uploads), :multipart => true, :class => "bold") do
  = partial :fields