%h1
  ExpenseHeads controller, show action
%p
  Edit this file in
  %tt
    app/views/expense_heads/show.html.erb

= link_to 'Edit',  url(:edit_expense_head,  @expense_head)
|
= link_to 'Back', url(:expense_heads)