#new_form{:style => "display:none;"}
  .shaded{:style => "width:30%;"}
    %form{:action => url(:controller => :asset_categories, :action => :create), :method => :post}
      %table.tall.shaded
        %tr
          %th
            Name
          %td
            = text_field :name
      = submit "Save"
      &nbsp;&nbsp;
      %b
        Or
      &nbsp;&nbsp;
      = link_to_with_rights "Cancel", '#', :onclick => "jQuery('#new_form').hide();", :class => "grey_button"