= partial :form
%table.report.nojs
  %tr.header
    %th
      Branch Name
    %th
      Disbursal Date
    %th{:colspan => 2}
      Disbursement Details
    %th{:colspan => 2}
      Upfront Charges Details

  %tr.header
    %th
    %th
    %th
      Number
    %th
      Amount
    %th
      Due
    %th
      Collected

  %tr.footer
    %th
      Total
    %td
    %td
    %td
    %td
    %td