%br
-# - @folder = File.join(Merb.root, "doc", "csv", "reports") 
-# - @files = Dir.entries(@folder).select{|f| f.match(/Common.Data.Format.*csv$/)} if File.exists?(@folder)
-# %h1==Existing Reports
- if @files
  - if @files.empty?
    %h3 
      == No reports exist as yet.
  - else
    - @files.each do |f|
      = link_to f, url(:controller => :reports, :action => 'CommonDataFormat', :filename => (File.join(@folder, f)))
      %br
- else
  %h3 
    == No reports exist as yet 