-if  @data.length==0
  %h1
    No Reports to Be displayed
-else
%br
%br
%br
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %td
          Center
        %td
          Checklist Id
        %td
          Date
        %td
          Deviation Type
    -@data.each do |data|
      -if data.checklist.checklist_type.is_pa_checklist?
        %tr
          %td
            =data.checklist_locations.last.name
          %td
            =data.checklist.id
          %td
            =data.value_date.strftime("%b %e")
          %td
            =data.checklist.sections.first.dropdownpoints.first.dropdownpoint_fillings.all(:response_id=>data.id).first.model_record_name


