= partial :form
- @data
- debugger
%table.report.nojs
  %tr.header
    %th{:rowspan => 2}
      Branch Name
    %th{:colspan => 4}
      Loan Amount
    %th{:colspan => 4}
      Repayment
    %th{:colspan => 3}
      Balance Outstanding
    %th{:colspan => 3}
      Balance Overdue

  %tr.header
    %th
      Applied
    %th
      Approved
    %th
      Scheduled to disburse
    %th
      Disbursed
    %th
      Principal
    %th
      Interest
    %th
      Fees
    %th
      Total
    %th
      Principal
    %th
      Interest
    %th
      Total
    %th
      Principal
    %th
      Interest
    %th
      Total
-#
  Content to be rendered once again using data
  %tr.footer
    %th
      Total
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td