= partial :form
%table.report.nojs
  %tr.header
    %th
    %th{:colspan => 3}
      Dues
    %th{:colspan => 7}
      Collections
    %th{:colspan => 3}
      Disbursal, Accrual, POS

  %tr.header
    %th
    %th
      EWI due Principal
    %th
      EWI due Interest
    %th
      EWI due Total
    %th
      EWI collected Principal
    %th
      EWI collected Interest
    %th
      EWI collected Total
    %th
      Processing Fees
    %th
      Foreclosure Fees
    %th
      Foreclosure POS
    %th
      Total Collected
    %th
      Disbursed Amount
    %th
      Interest Accrued
    %th
      Outstanding Principal

  %tr.Footer
    %th
      Total
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td