:javascript
  $(document).ready(function() {
    $('a.multiSelect').find('span').css('width', 'auto');
    $('.multiSelectOptions').css('width', 'auto');
  });
.shaded
  %h1 Tally voucher download
%form{:method => "POST", :action => url(:controller => :vouchers, :action => :tally_download, :return => params[:return])}
  %table.form
    %tr
      %th
        Cost Center
      %td
        = select :name => 'cost_center_ids', :collection => CostCenter.all, :text_method => :name, :value_method => :id, :class => 'multiple'
    %tr
      %th
        From date
      %td
        - today = Date.today
        - month_first = Date.new(today.year, today.month, 1)
        = date_select :from_date, (params[:from_date] || month_first), :min_date => Date.min_date, :max_date => Date.today, :size => 13
    %tr
      %th
        To date
      %td
        = date_select :to_date, (params[:to_date] || Date.today - 1), :min_date => Date.min_date, :max_date => Date.today, :size => 13
    %tr
      %td
        = submit "download"