.shaded
  %table.form
    %thead
      %tr
        %th Branch:
        %th
          = select :name => "parent_location_id", :text_method => :name, :value_method => :id, :collection => get_all_nominal_branches, :prompt => "Select branch", :id => "parent_selector", :selected => params[:parent_location_id]
        %th Center:
        %th
          = select :name => "child_location_id", :text_method => :name, :value_method => :id, :collection => get_all_nominal_centers(params[:parent_location_id]), :prompt => "Select center", :id => "child_selector", :selected => params[:child_location_id]
        %td
          %input{:type => :hidden, :value => get_effective_date, :name => 'effective_date', :id => 'effective_date_id'}
          = submit "Go"