%h1
  DropdownpointFillings controller, show action
%p
  Edit this file in
  %tt
    app/views/dropdownpoint_fillings/show.html.erb

= link_to 'Edit',  url(:edit_dropdownpoint_filling,  @dropdownpoint_filling)
|
= link_to 'Back', url(:dropdownpoint_fillings)